* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: serif;
}

body {
    background-image: linear-gradient(156deg, #1b91da, #82b6fe);
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #1ed9f5, #0a4cda);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    font-size: 30px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: 0.3s ease;

}

.search button:hover {
    background-color: #bceaf7;
}

.search button:active {
    background-color: #2d88f1;
}

.weather-icon {
    max-width: 100%;
    width: 170px;
    margin-top: 30px;

}

.col img {
    width: 70px;
    margin-right: 10px;


}

.weather h1 {
    font-size: 50px;
    font-weight: 500;
}

.weather h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 50px;
}